
.btn {
  display:inline-block;
  background: none;
  color:map-get($colors,'gray');
  border:$base-border-thickness*2 solid currentcolor;
  padding:$base-padding $padding-medium*.75;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size:2rem;
  &.login{
  color:map-get($colors,'green-home' );
  margin-bottom: 1.5rem;
    &:hover{
  background:map-get($colors,'green-home' );
  color:map-get($colors,'white' );
  border:none;
  transition:$base-transition;
    }
  }
 &.substance{
  color:$nav-color;
  padding:$base-padding*1.2 $padding-medium*1.2;
   border-radius:$base-border-radius*0.3;
   transition:$base-transition;
   &:hover{
    background-color:$nav-color;
    color:map-get($colors,'white' );
   }
 }
 &.add-test-btn{
   color:map-get($colors,'create-substance' );
   width:3.5rem;
   padding:0;
   margin-top: auto;
   transition:$base-transition;
   display: flex;
   justify-content: center;
   & .plus-sign{
     width: 100%;
     height:100%;
    }
    &:hover{
      background-color:$nav-color;
      color:map-get($colors,'white' );
    }
  }
  &.open-textarea-btn{
    border:0;
    color:map-get($colors,'nav-light' );
  }
  &.addProject,&.create-Substance{
    color:map-get($colors,'nav-addProject');
    border:$base-border-thickness solid currentcolor;
    padding:$base-padding*0.25 $base-padding*0.5;
    border-radius:$base-border-radius*0.2;
    transition:$base-transition;
    font: {
      size:$base-font-size*0.7;
      family:poppins, sans-serif;
      weight:bold;
    }
    letter-spacing:0.1rem;
    &:hover{
      background-color:map-get($colors,'nav-addProject');;
      color:map-get($colors,'gray-bck');
      border:$base-border-thickness solid $nav-color;
      font-weight:bold;
      box-shadow:$base-box-shadow-middle;
    }
    &:active{
      box-shadow:$base-box-shadow;
      transform:translateY(0.15rem);  
    }
  }
  &.create-Substance{
   font: {
     size:$base-font-size;
    }
    padding:$base-padding*0.25 $base-padding*0.5;
  }
  &.done{
  position: relative;
   color:map-get($colors,'create-substance' );
  padding:$base-padding*1.2 $padding-medium*1.2;
   border-radius:$base-border-radius*0.3;
   transition:$base-transition;
   &:hover{
    background-color:$nav-color;
    color:map-get($colors,'white' );
   }
   & .done-img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
   }
 }
 &.remove{
  transition:$base-transition*2;
  font: {
    size:$font-size-sm;
  }
  padding:$base-padding $padding-medium;
  color:$black;
  &:hover{
   font: {
    size:$font-size-sm*1.3;
  }
  background-color:$error;
  color:$white;
  }
 }
&.delete-project{
 color:map-get($colors,'error');
   border:$base-border-thickness solid currentcolor;
   padding:$base-padding*0.25 $base-padding*0.5;
   border-radius:$base-border-radius*0.2;
   transition:$base-transition;
   font: {
    size:$base-font-size*0.7;
    family:poppins, sans-serif;
    weight:bold;
   }
   letter-spacing:0.1rem;
   &:hover{
   background-color:map-get($colors,'error');;
  color:map-get($colors,'gray-bck');
   border:$base-border-thickness solid $nav-color;
   font: {
    size:$base-font-size*0.8;
   }
   box-shadow:$box-shadow-blur-modarate;
   }  
}
}

