.workers{
font-family:Poppins,sans-serif;
position: relative;
height:100vh;
@include grid(20% 1fr,1fr);
& .worker-sidebar{
background-color:$gray-border;
& nav{
position:sticky;
top:10rem;
left:0;
max-height:100%;
@include flx-col(center,flex-end);
& > li{
@include flx-row(flex-end);
margin-bottom:1rem;
width:100%;
& > a{
font-size:$base-font-size;
text-align: center;
width:85%;
color:$nav-color-2;
padding:0.5rem 0;
&:hover{
font-size:$base-font-size*1.1;
background-color:$gray-primary;
color:$nav-color-2;
border-top-left-radius:10rem;
border-bottom-left-radius:10rem;
}
}
}
}
}//end of worker sidebar
& .supervisor-container{
padding:2rem;
margin-right:2rem;
@include flx-col(flex-start,flex-start);
& .supervisor-assignments-list{
@include flx-row();
align-items: flex-start;
align-content: flex-start;
width:100%;
padding:1rem;
gap:2rem;
& > legend{
font: {
size:4rem;
}
padding:0 2rem;
}
& .supervisor-singel-proj{
@include flx-row();
gap:2rem;
align-content: flex-start;
align-items: flex-start;
& .supervisor-singel-test{
position:relative;
width:27rem;
color:$nav-color-2;
background-color:$gray-border;
border-block-start:0.7rem solid $black-500;
border-radius:0.7rem;
padding:1rem;
box-shadow:$box-shadow-blur-modarate-plus;
& >h4{
@include flx-row(space-between);
padding:1rem 0; 
& >span{
font: {
size:$font-size-sm;
weight:900;
}
letter-spacing:0.2rem;
}
}
& .supervisor-card-date-proj-box{
@include flx-col();
}
& .supervisor-card-workers{
@include flx-row(space-between);
padding:1rem 0;
& > span{
font: {
size:$font-size-sm;
weight:900;
}
letter-spacing:0.2rem;
}
}
& > .supervisor-chevron-icon-box{
width:100%;
@include flx-row(flex-end);
& > img{
cursor: pointer;
width:2rem;
height:2rem;
transition:all $base-transition;
}
&.open-status-box > img{
 transform:rotate(180deg);
 margin-bottom: 1rem;   
}
}
&:has(.supervisor-chevron-icon-box.open-status-box) > .supervisor-check-status{
box-shadow:$box-shadow-gentle;
}
& > .supervisor-check-status{
 transition:all $base-transition*3;
  overflow: hidden;
 height:0;
& > h3{
text-align: center;
font-weight: 300;
}
&  >.checkbox-container{
width:100%;
padding:1rem 1.5rem 0.2rem;
@include flx-row(space-between);   
& >label{
@include flx-col(space-between);
gap:0.5rem;   
& > input[type="checkbox"]{
appearance: none;
cursor: pointer;
width:1.5rem;
height:1.5rem;
border-radius:50%;
outline:0.2rem solid;
outline-offset:0.3rem;
&[name='status-done']{
outline-color:$green-home-400;
}
&[name='status-issue']{
outline-color:$error;
}
&[name='status-done']:checked{
background-color:$green-home-400;
}
&[name='status-issue']:checked{
background-color:$error;
}
}
}
}
}
}//end of supervisor-singel-test
}//end supervisor-single-card
}//end of supervisor-assignments-list
}
// WORKERS STYLES
.workers-container{
padding:0 2.5rem;
& >h1{
padding-left:2.5rem;
margin:0 -2.5rem 3rem;
background-color:$gray-border;
color:$nav-color-2;
background-image:linear-gradient(90deg,$gray-border,$white)
}
.workers-my-assignments{
@include flx-col(flex-start,flex-start); 
position: relative;
border:3px solid $black-800;
margin-bottom: 3rem;
padding:3rem;
& > h2{
position: absolute;
top:-2.5rem;
background-color:$gray-primary;
padding:0 1rem;
}
.workers-singel-test-container{
margin-bottom:2rem;
@include flx-row(flex-start);
gap:2rem;
align-items: flex-start;
.workers-singel-test-card{
width:27rem;
color:$nav-color-2;
background-color:$gray-border;
border-block-start:0.7rem solid $black-500;
border-radius:0.7rem;
padding:1rem;
box-shadow:$box-shadow-blur-modarate-plus;
& > h4:first-child{
@include flx-row();
}
& >h4{
@include flx-row(space-between);
padding:1rem 0; 
& >span{
font: {
size:$font-size-sm;
weight:900;
}
letter-spacing:0.2rem;
}
}
& > span:last-child{
font-size:$font-size-sm;
}
.myAssignments-proj-test-box{
@include flx-row(); 
padding:0.5rem 0;
gap:1rem;
}
}
}//workers-singel-test-container
}
}
//SAME_TECH
& .workers-same-tech-container{
width:100%;
position: relative;
border:3px solid $black-800;
margin-bottom: 3rem;
@include flx-col(flex-start,flex-start);
padding:3rem;
& > h2{
position: absolute;
top:-2.5rem;
background-color:$gray-primary;
padding:0 1rem;
}
& .workers-same-tech-tests-container{
@include flx-row(flex-start,flex-start);
width:100%;
gap:2rem;
& .workers-same-tech-singel-test-card{
width:27rem;
color:$nav-color-2;
background-color:$gray-border;
border-block-start:0.7rem solid $black-500;
border-radius:0.7rem;
padding:1rem;
box-shadow:$box-shadow-blur-modarate-plus;
& > h4:first-child{
@include flx-row();
}
& >h4{
@include flx-row(space-between);
padding:1rem 0; 
& >span{
font: {
size:$font-size-sm;
weight:900;
}
letter-spacing:0.2rem;
}
}
& > span:last-child{
display: flex;
font-size:$font-size-sm;
}
& .same-tech-Assignments-proj-test-box{
@include flx-row(); 
padding:0.5rem 0;
gap:1rem;
}
}
}
}
//OTHER_WORKERS
& .workers-other-container{
position: relative;
border:3px solid $black-800;
margin-bottom: 3rem;
@include flx-col(flex-start,flex-start);
padding:3rem;
& > h2{
position: absolute;
top:-2.5rem;
background-color:$gray-primary;
padding:0 1rem;
}
& .workers-other-tests-container{
@include flx-row(flex-start,flex-start);
gap:2rem;
& .workers-other-tech-singel-test-card{
width:27rem;
color:$nav-color-2;
background-color:$gray-border;
border-block-start:0.7rem solid $black-500;
border-radius:0.7rem;
padding:1rem;
box-shadow:$box-shadow-blur-modarate-plus;
& > h4:first-child{
@include flx-row();
}
& >h4{
@include flx-row(space-between);
padding:1rem 0; 
& >span{
font: {
size:$font-size-sm;
weight:900;
}
letter-spacing:0.2rem;
}
}
& .other-tech-Assignments-proj-test-box{
@include flx-row(); 
padding:0.5rem 0;
gap:1rem
}
}    
}
}
}//end of workers