
.create-Newsubstance-container{
@include flx-col();
width: 100%;
height:100%;
& > h1{
  font: {
  size:$font-size-xxl;
   weight:200;
  } 
  letter-spacing:0.2rem;
}
& .signup-form{
height: 100%;
width:90%;
@include grid(1fr,1fr);
& header{
width:30%;
margin: 0 auto;
@include flx-col(center,center);
padding:$padding-medium 0 ;
& > div.btn-container{
  width:100%;
margin-top:2rem;
@include flx-row(space-between);
} 
}
& .monographes-container{
  @include grid(repeat(auto-fill,minmax(30rem,1fr)),auto,2rem);
  align-items: flex-start;
  & .singel-monograph{
  background-color:$gray100;
  box-shadow:$box-shadow-difution;
  @include flx-col(center stretch);
  & .general-details{
  width:100%; 
  border-bottom:3px solid $gray-primary; 
  @include grid(1fr 1fr,auto,1rem 0.5rem);
  & > div:has(input[name='monographName']){
 grid-column: 1 / 3;
}
}
& .select-tech{
box-shadow:$base-box-shadow;
padding-top: 2rem;
width: 100%;
@include flx-col();
& .select-tech-result{
padding: 2rem;
box-shadow:$box-shadow-difution;
width: 100%;
& > h3{
  text-align: center;
  color:$nav-color-light;
  letter-spacing:0.3rem;
}
& > ul{
 border-bottom:0.2rem solid $nav-color-light;
 margin-bottom:2.5rem;
& > li{
  padding-left:1.5rem;
}
}
& .add-test-container{
//becuase the MonoInputComp, some of the style is in monoInput.scss
  @include flx-row();
  & >.add-test-input-container{
    width:80%; 
  }
  &  > button.done{
    width:20%;
  height:100%;
  z-index:1;
  opacity:0;
  background: none;
  border:none;
  transition:all $change-monograph-transition;
}
&:has(input:focus) > button.done{
  opacity:0.7;
  &:hover{
  opacity:1;
  transform:scale(1.3);
}
}
}
}
}
& .add-note-container{
width:100%;
box-shadow:$base-box-shadow;
// border:2px solid red;
margin-bottom:2rem;
& > p{
text-align: center;
}
}
}
}
}
}
