.database{
font-family: Poppins,sans-serif;
 min-height: 100vh;
@include flx-col(flex-start);
position:relative;
 & .database-navbar{
@include flx-row(space-around);
transform:translateY(-100%);
background-color:map-get($colors,'white');
background-image:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
width:100vw;
padding:$base-padding*2 $padding-medium*10;
box-shadow:inset 0rem 1.5rem 1.5rem -1.2rem rgba(0,0,0,0.5);
color:$nav-color-light;
& h4{
 font-size: 2.5rem;
 transition: all $base-transition;
}
& h4:first-child{
  font: {
    size:1.5rem;
    weight:400;
    
  }
}
& >.vertical-border{
 height:5rem;
 width:0.3rem;
 background-color:$gray-strong ;
}
& >h4:last-child{
  box-shadow:$box-shadow-gentle;
  padding: 2rem;

}
& > h4:hover{
  cursor: pointer;
  box-shadow:0rem 0.3rem 1rem rgba(0,0,0,0.1);
font: {
  size: 2.6rem;
  color:$nav-color-dark;
} 
}
&.open{
 transition:all $base-transition*2;
 transform:translateY(0%);
 }
}
}
