.substance-container{
// is in Sunstance comp.
height: 100vh;
width:90%;
border:2px solid red;
@include flx-row(center,flex-start);
& .substance-monograph{
width:100%;
border:8px solid lemonchiffon;
@include flx-col;
// @include grid(4fr,1fr,30px);
//substance name
& .substance-title{
  text-align:center; 
  font: {
    size:$font-size-xxl*1.2;
  } 
}
& .change-monograph-container{
  border: 8px solid darkblue;
  width: 100%;
//STYLE FOR THE CHANGED-MONOGRAPGH-CONTAINER
& .change-details{
  border:5px solid green;
  width: 100%;
//style for the label container
& label{
@include flx-col();
border:2px solid blue;
margin: 30px auto;
position:relative;
padding: 20px;
//style for the span inside the label
& span{
@include flx-row();
position:absolute;
border:2px solid black;
top:0;
left:0;
width:100%;
height:100%;
& img{
transition:all $base-transition*2;
opacity: 0;
border:2px solid red;
 margin-left: auto;
 height:$font-size-xl;
}
&:hover img{
opacity: 1;
cursor: pointer;
}
 }
 //style for the container that contaon input and btn
& .btn-input-container{
position:absolute;
width:100%;
height:100%;
z-index: -1;
border:5px solid burlywood;
 @include flx-row();
 & input{
border:3px solid red;
 position:absolute;
top:0;
left:0;
 height:100%;
 width:100%;
transition: all 0.8s;
&:disabled{
 visibility: hidden;
}
 }
& button{
 position:absolute;
visibility: hidden;
}
}
&:has(.open-input) > .btn-input-container > input{
background-color: red;
transform: translateY(100%);
opacity:1; 
}
}
}


}

}
}