.main-navbar{
   position: relative;
   z-index:1;
    background-color:$nav-color;
    width:100vw;
    padding:$base-padding*1.5 $padding-medium;
    @include flx-row ($justify:space-between);
    color:map-get($colors,'white');
 & a{
   text-decoration: none;
   color:map-get($colors,'white');
   border:$base-border-thickness solid currentcolor;
   padding:$base-padding*0.5 $base-padding;
   border-radius:$base-border-radius*0.3;
   transition:$base-transition;
   font: {
    size:$base-font-size;
   }
   letter-spacing:0.1rem;
   &:hover{
   background-color:map-get($colors,'white');
    color:$nav-color-hover;
   border:$base-border-thickness solid $nav-color;
   font-weight:bold;
   }
 }
 
 .login-link{
 border:none;
 cursor: pointer;
 font: {
   family:'Poppins', sans-serif;;
   weight:'Regular' 400;
 }
 &:hover{
    font-weight:700;
 }
 }
}