.project-dashboard{
font-family:Poppins,sans-serif;
@include flx-col(flex-start);
 border:3px solid green;
 padding:2rem 4rem 2rem 2rem;
& h2{
margin-right: auto
}
& .projects-preview-container{
 border:2px solid magenta;
 @include grid(minmax(20rem,30rem),repeat(auto-fill,1fr),2rem);
 & .project-preview{
color:$nav-color-shining;
background-color:$black-500;
height:100%;
 overflow:hidden;
border-radius:.5rem;
@include flx-row();
 & .project-header{
padding:1rem;
position:relative;
width:100%;
@include  flx-col(flex-start,flex-start);
& h2{
  width:100%;
text-align: center;
 }
& .delete-and-date-box{
width:100%;
@include flx-row(space-between);
}
& .project-status{
color:red;
}
& > .chevron-open-tech-box{
  width: 100%;
  position: relative;
  z-index:4;
  &:hover{
  cursor: pointer; 
  }
& > svg{
  color:$nav-color-shining;
  position:relative;
  z-index:-1;
  margin-left:auto;
  transition:all $base-transition;
}
&.open > svg{
    transform:rotate(180deg); 
}
}

}//end of project-header
& .project-all-tests{
width: 100%;
height:0;
margin-top: 0.5rem;
border-top:0.1rem solid $gray-border;
transition:all $base-transition-slow*2;
& > h4{
transition:all $base-transition;
font-size: $font-size-lg*0.8;
 &:hover{
cursor: pointer;
font-size: $font-size-lg*0.9;
  }
}
& h4{
@include flx-row();
color: $gray-border;
& > svg{
position: relative;
color:$nav-color-shining;
margin-top:auto;
margin-left: auto;
transition:all $base-transition;
&.open{
transform:rotate(180deg);
}
}
}
& h4:has(svg.open ) + .project-tech{
z-index:1;
opacity:1;
} 
& .project-tech{
position:relative;
z-index:-1;
 height:0;
 opacity:0;
transition:all $base-transition-slow*2;
& .whole-test{
 display: block;
transition:all $base-transition-slow*2;    
& .main-details{
& .workers-and-test-box{
@include flx-row(space-between);
padding:1rem;
border-bottom:0.1rem solid $gray-border;
border-top:0.1rem solid $gray-border;
}
& .supervisor-box{
@include flx-row(space-between);
padding:2rem 1rem;
transition: all $base-transition-slow;;
& >  label >input{
max-width:5rem;
background-color: transparent;
border:none;
display:none;
&::-webkit-calendar-picker-indicator {
color:$gray-border;
background-color:$gray-border;
border-radius:0.5rem;
cursor: pointer;
}
}
& > .select-box.move-down{
  transform: translateY(-150%);
}
}
& div.chevron-more-details{
border-top:0.1rem solid $gray-border;
width:100%;
transition:all $base-transition;
@include flx-row();
& > svg{
position: relative;
z-index:-1;
}
&.open > svg{
transform: rotate(180deg);
}
}
}
& .more-details{
color:$nav-color-shining;
padding: 1rem 0 3rem;
@include flx-col();
& > h4{
width:100%;
@include flx-row(space-between);
padding:0rem 0.5rem;
& > span{
font: {
  weight:400;
}
letter-spacing: .2rem;
}
}
}
}
}
}//project-all-tests
}//end project-preview
}//end of project-preview
}//end of project-dashboard
