@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Poppins:ital,wght@0,100;0,400;1,300;1,700&family=Raleway:ital,wght@0,100;0,300;1,100;1,400;1,500&display=swap');

*,*::before,*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
/* base styles */
html, body, #root {
  height: 100%;
  font-size:65.5%;
}
body {
  font-family: Raleway, sans-serif;
  margin:0;
  background:map-get($colors,'primary');
  color:$secondary;
}
h1{
font-size:$font-size-xxl;
}
h2{
font-size:$font-size-xl;
}
h3{
font-size:$font-size-lg;
}
h4{
font-size:$base-font-size;
}
li{
  font-size:$font-size-lg;
  list-style-type: none;
}

span,p,label{
font-size:$base-font-size;
}
a{
  text-decoration:none;
  font-style:$base-font-size;
}
ul{
  list-style-type: none;
  padding:0;
  margin:0;
}
input, textarea {
  color:$secondary;
  padding:1rem;
  font-size:2rem;
  border-radius:0.4rem;
  border:0.1rem solid $border-color;
  background-color:map-get($colors,'white');
  display: block;
  width: 100%;
  appearance: none;
 outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
appearance: textfield;
}
.App {
 @include flx-col($justify:flex-start);
  min-height: 100%;
}
.page-title {
  text-align: center;
  margin:4rem auto;
  color:$secondary;
}
.loading{
  text-align: center;
  margin:4rem auto;
}
.dark{
background-color: #444;
}
.error {
  font: {
  size:$font-size-lg;
  }
  text-align: center;
  color: red;
  background: pink;
  border:0.1rem solid red;
  border-radius:0.4rem;
  padding:0.8rem;
  margin: 1rem 0;
}
