.login-container,
.signup-container{
position: fixed;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
 padding:1rem 2rem;
background-color:map-get($colors,'white' );
box-shadow:10px 20px 10px -20px map-get($colors,"green"),
-10px -20px 10px -20px map-get($colors,"green")
;
font-family:Poppins, sans-serif;
& h2{
  text-align: center;
 color:map-get($colors,"green-home");
}
}
.signup-container:after{
  position: absolute;
  inset:0;
  content:'';
  width:100%;
  height:100%;
  z-index:2;
  background-image:linear-gradient(45deg,rgba(0,0,0,0.5),rgba(255,255,255,0.2));
  filter: blur(20%)
}

.login-form,
.signup-form{
@include flx-col();
.input-unit{
position:relative;
//style for monograph title, see CreateSubstance Comp
& .substance-title{
 font: {
    size:$font-size-xxl;
  }
}
& .substance-title ~ label{
  font: {
     size:$font-size-xl;
   }
}
}
label{
position: absolute;
top:50%;
transform: translateY(-50%);
left:5%;
 transition:all 0.3s;
}
.form-input{
width: 100%;
border-radius:5px;
margin: 20px auto;
 transition: 300ms ease all;
 border:0;
 border-bottom:1px solid $secondary;
&:focus{
    outline: none;
}
&:focus ~ label{
@include shrinkLabel;
}

}
.shrink{
 @include shrinkLabel;
}
}
.input-mono-container{
  width:100%;
  box-shadow: $box-shadow-blur-modarate;
}

