
// theme colors
$gray-primary:#f7f7f7;
$grey-secondary: #dfdfdf;
$gray-third:#dedede;
$gray-background:#f7f7f7;
$gray-border:#e3e3e3;
$gray-strong:#a4a4a4;
$gray100:#fcfcfc;
$secondary: #333;
$error: #d32752;
$border-color:#d4d4d4;
$nav-color:#9c88ff;
$nav-color-shining:#8c76fe;
$nav-color-2:#58249c;
$nav-color-light:#742fcd;
$nav-color-dark:#3f1a71;
$blue-dark-100:#0E3F2C;
$blue-dark-200:#0F1A1D;
$green-primary:#1f9751;
$green-shine:#19e635;
$green-home-100:#D9F4B4;
$green-home-200:#BEF76B;
$green-home-300:#81F065;
$green-home-400:#0EAB2B;
$green-home-500:#0E3F2C;
$database-navbar:#f190d4;
$black-800:#888;
$black-700:#777;
$black-600:#666;
$black-500:#555;
$black-400:#444;
$black-300:#333;
$black:#222;
$black-font:#121212;
$white:#fff;

$colors:(
  "gray-bck":$gray-primary,
 "primary": $gray-primary,
  "secondary": $secondary,
  "error": $error,
  "border-color":$border-color,
  "card-p":#999,
  "create-substance":#555,
  "nav":$nav-color,
  "nav-addProject":$nav-color-2,
  "nav-dark":$nav-color-dark,
  "nav-light":$nav-color-light,
  "green":$green-primary,
  "green-shine":$green-shine,
  "green-home":$green-home-400,
  "database-navbar":$database-navbar,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray":$gray-third,
  "gray-assignment":$gray-third,
  "white": #fff,
  "white-2":#e4e4e4,
);
//witdh
$width-wide:120rem;//1200px
// spacing
$base-padding:1rem;//10px
$padding-medium:1rem;
$base-margin:1.5rem;//15px

// borders
$base-border-thickness:0.1rem;
$base-border-radius:2rem;


// box-shadow
$base-box-shadow:0.1rem 0.3rem 0.5rem rgba(0,0,0,0.1);
$base-box-shadow-middle:0.1rem 0.3rem 0.5rem rgba(0,0,0,0.5);
$base-box-shadow-strong:0.1rem 0.3rem 0.5rem rgba(0,0,0,1);
$box-shadow-card:2.5rem 3.75rem 3rem -3rem #48556a;
$box-shadow-change-mono:0 0 0.1rem rgba(0,0,0,0.2), 0 0.1rem 0.2rem rgba(0,0,0,0.2);
$box-shadow-change-mono-hover:0 0px 1px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.2);
$box-shadow-difution:
 0.1px 0.3px 0.3px rgba(0,0,0,0.3),
    0.3px 0.8px 0.7px -0.5px  rgba(0,0,0,0.3),
    0.5px 1.5px 1.4px -0.9px  rgba(0,0,0,0.25),
    1px 2.6px 2.4px -1.4px  rgba(0,0,0,0.2),
    1.6px 4.4px 4.1px -1.8px  rgba(0,0,0,0.15),
    2.7px 7.3px 6.8px -2.3px  rgba(0,0,0,0.1),
    4.2px 11.4px 10.7px -2.8px  rgba(0,0,0,0.08),
    6.4px 17.1px 16px -3.2px  rgba(0,0,0,0.05),
    9.2px 24.7px 23.1px -3.7px  rgba(0,0,0,0.03),
    12.8px 34.4px 32.2px -4.1px  rgba(0,0,0,0.02);
  $box-shadow-blur-modarate:
  0 0.1rem 0.2rem rgba(0,0,0,0.19),0 0.6rem 0.6rem rgba(0,0,0,0.23);
  $box-shadow-blur-modarate-plus:
  0.2rem 0.1rem 1rem rgba(0,0,0,0.19),0 0.6rem 0.6rem rgba(0,0,0,0.23);
  $box-shadow-gentle: .3rem .3rem .6rem #c8d0e7, 
-.2rem -.2rem .5rem #FFFFFF;
$box-shadow-gentle-inner: inset .2rem .2rem .5rem #c8d0e7, 
inset -.2rem -.2rem .5rem #FFFFFF;
// font sizes
$base-font-size: 1.6rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
//letter-spacing

//transition
$base-transition:0.1s;
$base-transition-slow:0.3s;
$change-monograph-transition:400ms;
//layout
$center:center;
//mixin
@mixin flx-row($justify:$center, $aling:$center){
    display:flex;
    justify-content:$justify;
    align-items:$aling;
    flex-wrap: wrap;
}
@mixin flx-col($justify:$center, $aling:$center){
    display:flex;
    justify-content:$justify;
    align-items:$aling;
    flex-flow: column wrap;
}
@mixin grid($col:1fr,$row:1fr,$gap:0) {
display: grid;
grid-template-columns:$col;
grid-template-rows:$row;
gap:$gap;
}
@mixin shrinkLabel {
  top: -0.08rem;
  left:0;
  font-size:1rem;
  color: $secondary;
}
// activated btn
@mixin box-shadow-change-mono-active{
box-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
transform: translateY(1px);
}